body {
    background-color: #121619;
    color: #119da4;
    font-size: 25px;
    font-family: 'Kalam', cursive;
}

main {
    width: 60%;
    margin: 0 auto;
    padding: 4px 10px;
    margin-top: 10px;
}

p {
    font-size: 1.4em;
}

a {
    text-decoration: none;
}

nav {
    font-size: 35px;
}

.nav-link {
    color: #09814a;
}

#logo {
    filter: invert(100%);
    max-width: 250px;
    max-height: 200px;
}

.active {
    color: #119da4;
}

h1 {
    text-decoration: underline;
}